name: Build Project

on:
  pull_request:
    branches: [dev]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      TRAK_DB_URL: ${{secrets.DEV_TRAK_DB_URL}}
      BLANK_DB_URL: ${{secrets.DEV_BLANK_DB_URL}}

    steps:
      - uses: actions/checkout@master
      - name: Install dependencies
        run: sudo yarn
      - name: Generate Prisma
        run: sudo yarn generate
      - name: Building Next
        run: sudo yarn build