name: Build

on:
  pull_request:
    branches: [ dev ]

jobs:
  build:
    env:
      DATABASE_URL: ${{secrets.DATABASE_URL}}
    name: Test
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build